<div class="container mt-5">
   <div class="jumbotron">
     <h1 class="display-4">Welcome to the OnlineShop</h1>
     <p class="lead">This is a simple example of a home page built using HTML and Bootstrap.</p>
     <hr class="my-4">
     <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
   </div>
</div>
<!-- <div class="card mt-5" style="width: 18rem;">
  <%= image_tag "1.jpeg", class: "d-block w-100" %>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->
